.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border: 1px solid blue;
  background-color: "#f4f4f4";
  padding: "8px";
  text-align: center;
  font-size: 20px;
}

.structure {
  width: 100%;
  border-collapse: collapse;
}

.cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  color: red;
}